/* .menu_list{
    list-style: none;
    color: goldenrod;
    display: flex;
    flex-direction: row;
} */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}